@import "https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700";

* {
  font-family: "Open Sans", sans-serif;
}
table {
  text-align: center;
  font-size: 16px;
  border-collapse: collapse;
}

th {
  background: #4caf50;
  min-width: 160px;
  color: white;
}

th,
td {
  border: 1px solid black;
  padding: 3px;
}
table th.index {
  min-width: 50px !important;
}
tr:nth-child(even) {
  background: #f2fcf2;
}

/* tr:hover {
  background:#e6fce7
} */

.green-color {
  color: #0e9f6e;
}
.red-color {
  color: #f05252;
}
.darkred-color {
  color: #f30808;
}
.blue-color {
  color: #007bff;
}
.yellow-color {
  color: #ffc107;
}
.til-color {
  color: #17a2b8;
}
.btn {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 18px;
}
.btn.default {
  background-color: #4caf50; /* Green background */
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn.default:hover {
  background-color: #45a049; /* Slightly darker green */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.btn.default:active {
  transform: translateY(2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2.heading-h2 {
  margin: 0;
  padding: 0.2rem 0;
}
